/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

* {
    -fx-text-fill: white;
    -fx-font-family: 'Trebuchet MS';
}

.root {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(5, 40, 129, 0.491), #5373f5b3);
}

#helpPane {
    -fx-background-color: lightblue;
}

#serenityLabel {
    -fx-font-size: 65;
    -fx-font-family: 'Times New Roman' !important;
}

#introThreeWordsLabel {
    -fx-font-size: 24;
}

#gridScrollPane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.bigHeaderLabel {
    -fx-font-size: 35;
}

.smallHeaderLabel {
    -fx-font-size: 32;
}

Button {
    -fx-background-color: transparent;
}

#pathButtonsContainer > Button {
    -fx-background-color: #84B2C1;
    -fx-background-radius: 30px;
    -fx-font-size: 18;
}

#pathButtonsContainer > Button:hover {
    -fx-background-color: #698f9b;
}

.descriptionLabel {
    -fx-font-size: 18;
}

/* Untergeordnet zu DescriptionLabel */
#fourLabelContainer > #thirdTextLabel, #fourthTextLabel, #fifthTextLabel {
    -fx-font-size: 14;
}

#playTimeLabel {
    -fx-font-size: 22;
}

.icon-button {
    -fx-min-width: 32;
    -fx-min-height: 32;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: 36 36;
    -fx-background-position: center;
}

#homeButton {
    /* Warum funktioniert das nicht? */
    /* -fx-background-image: url("/Users/jens/IdeaProjects/Serenity_App/src/presentation/ui_components/homeIcon.png");
    -fx-background-image: url("homeIcon.png");
    -fx-background-image: url("src/presentation/ui_components/homeIcon.png");
    -fx-background-image: url("presentation/ui_components/homeIcon.png"); */
}

#rightArrowButton {

}

#leftArrowButton {

}

.firstRhythmColor {
    -fx-fill: linear-gradient(to bottom, #8CF8FF, #2FB8C1);
}

.secondRhythmColor {
    -fx-fill: linear-gradient(to bottom, #00FACC, #2CBAA0);
}

.thirdRhythmColor {
    -fx-fill: linear-gradient(to bottom, #8CFFC8, #62CF47);
}

#startAnimationButton {
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

/* Für jeden Button konfigurieren */
#startAnimationButton:hover {
    -fx-background-color: rgba(6, 145, 122, 0.491);
}

#sleepTimer {
    -fx-background-color: transparent;
}

#sleepTimer > MenuItem {
    -fx-background-color: red;
    -fx-text-fill: black;
}

.subVidLabel {
    -fx-text-fill: black;
}

#startVideoButton {
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-background-color: grey;
}